
/* set as a catch-all in any css file to ensure elements don't go beyond viewport width*/

h1 {
  color: green;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 50%;
  font-size: 6vw;
}

.image {
  width: 50%;
  height: 50%;
}

.box {
  width: 150px;
  height: 150px;
}

.dark_blue {
  background-color: darkblue;
}

.light_blue {
  background-color: lightblue;
}

.green {
  background-color: green;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}

.button {
  color: red;
  background-color: purple;
  width: 100%;
  min-height: 48px;
  /*margin: 40px;*/
}
