body {
  background-color: orange;
}

@media screen and (min-width: 800px) {
  body { background-color: green;}
}

/*img {
  max-width: 49.5%;
}*/

/*.button {
  width: 49.5%;
  background-color: blue;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}*/
